parameters:
	ignoreErrors:
		-
			message: '#^Method BomWeather\\Forecast\\Area\:\:getParentAac\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Forecast/Area.php

		-
			message: '#^Method BomWeather\\Forecast\\Forecast\:\:getIssueTime\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Forecast/Forecast.php

		-
			message: '#^Method BomWeather\\Observation\\Observation\:\:setTemperature\(\) never returns null so it can be removed from the return type\.$#'
			identifier: return.unusedType
			count: 1
			path: src/Observation/Observation.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with BomWeather\\Forecast\\Forecast will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/src/Unit/Forecast/Serializer/ForecastSerializerTest.php

		-
			message: '#^Call to method PHPUnit\\Framework\\Assert\:\:assertNotNull\(\) with BomWeather\\Observation\\ObservationList will always evaluate to true\.$#'
			identifier: method.alreadyNarrowedType
			count: 1
			path: tests/src/Unit/Observation/Serializer/ObservationSerializerTest.php
